.newTaskForm {
  align-items: center;
  background-color: #d7f3ff;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 7px 1px #555;
  color: #333;
  display: flex;
  flex-direction: column;
  margin: 30px auto 50px;
  padding: 20px 0 40px;
  position: relative;
  width: 60%;
}

.newTaskInputLabel {
  display: flex;
  align-items: center;
  width: 80%;
  font-size: 20px;
}

.newTaskInput {
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px 0 20px 7px;
  max-width: 800px;
  padding: 5px 7px;
  width: 80%;
}

.newTaskSelectLabel {
  display: flex;
  font-size: 20px;
  align-items: baseline;
  width: fit-content;
}

.newTaskSelect {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 7px;
  padding: 4px;
  width: 300px;
}

.buttonsWrapper {
  margin: 0 auto;
  width: fit-content;
}

.goBackButton, .newTaskButton, .deleteButton {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 1px #333;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  color: #f2f2f2;
}

.goBackButton {
  background-color: #005393;
  margin-right: 20px;
}

.newTaskButton {
  background: #009325;
}

.deleteButton {
  background-color: #e0525a;
  margin-left: 20px;
}

.newTaskErrorMessage {
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  padding: 10px;
  position: absolute;
  right: 50%;
  top: -22px;
  transform: translateX(50%);
}
